.spacer-30
.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .text-center
        = @html
        %p
          = link_to "mailto:HEKEberly@gmail.com", target: :_blank do
            = fa_icon :send
            HEKEberly@gmail.com
        %p
          = link_to "https://instagram.com/Hekeberlyportraits", target: :_blank do
            = fa_icon :instagram
            HEKEberlyPortraits
